.contact{
  margin-top: 100px;
}

.contact__container {
  background: #2e3267;
  /* display: grid; */
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 37rem;
  margin: 6rem auto;
  border-radius: 1rem;
}

/* ================ ASIDE =================== */
.contact__aside{
  background-color: #6c63ff;
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 10rem;
  margin-top: 69px;
}

.aside__image{
 width: 20px;
 height: 20px;
  margin-bottom: 8rem;

}
.imk{
  width: 200px;
 height: 180px;
 margin-top: -40px;
}
.contact__aside h2{
  text-align: left;
  margin-bottom: 1rem;
}

.contact__aside p{
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.contact__details li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.footer__socials{
  display: flex;
  gap: 0.8rem;
  margin-top: 3rem;
}

.footer__socials a{
  background: #424890;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  transition: all 400ms ease;
}

.footer__socials a:hover{
 background: transparent;
}

/* =====================form================= */

.contact__form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;

}

.form__name{
  display: flex;
  gap: 1.2rem;
}

.contact__form input[type='text']{
  width: 50%;
}

input,textarea{
  width: 100%;
  padding: 1rem;
  background: #1f2641;
  color: white;
} 
.contact__form .btn{
  width: max-content;
  cursor: pointer;
  margin-top: 1rem;
}

/* ===================== Media Quries (Tablets)================= */

@media screen and (max-width:1024px){
  .contact{
      padding: 0;
  }

  .contact__container{
      gap: 1.5rem;
      margin-top: 3rem;
      height: auto;
      padding: 1.5rem;
  }

  .contact__aside{
      width: auto;
      padding: 1.5rem;
      bottom: 0;

  }

  .contact__form{
      align-self: center;
      margin-right: 1.5rem;

  }
}

  
/* ===================== Media Quries (Phones)================= */

@media screen and (max-width:600px){
  

  .contact__container{
      grid-template-columns: 1fr;
      gap: 3rem;
      margin-top: 0;
      padding: 0;
  }

  .contact__form{
      margin: 0 1.5rem 3rem;
  }

  .form__name{
      flex-direction: column;
  }

  .form__name input[type='text']{
      width: 100%;
  }

}