header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  /* padding: 10px 10%; */
  /* height: 72px; */
  position: sticky;
  top: 0%;
  left: 0%;
  background-color: var(--light-blue);
  z-index: 2;
  box-shadow: 0 0 20px 0 rgba(144, 174, 205, 0.339);
  transition: all 0.2 linear;
}

.nav-logo {
  display: flex;
  align-items: center; /* Vertically align items */
}

.nav-logo a {
  margin-left: 10px; /* Adjust the spacing between the logo and text as needed */
  color: var(--bold-text-color);
}

.logo-image {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image fits within the circle without stretching */
  margin-right: 10px; /* Adjust the margin as needed for spacing */
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.nav-logo a,
.nav-links a {
  color: var(--bold-text-color);
} 

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links a:not(.btn):hover{
  color: rgb(38, 197, 197);
}

.nav-links .btn:hover{
  color:black;
}

.nav-links .btn {
  color: var(--white);
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
}

.menu-icons {
  display: none;
  z-index: 100;
  font-size: 1.5rem;
  position: relative;
}

.menu-open,
.menu-close {
  position: absolute;
  color: var(--black);
  cursor: pointer;
}

@media (max-width: 1300px) {
  nav {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 950px) {
  .nav-links {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-blue);
    flex-direction: column;
    transform: translateX(100%);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 20;
    gap: 3rem;
    transition: all 0.3s linear;
  }
  .nav-active .nav-links {
    transform: translateX(0%);
    visibility: visible;
  }
  .menu-icons {
    display: block;
    position: absolute;
    top: 33%;
    right: 7%;
  }
}
